# run =  "python src/dashboard/dashboard.py"   # dashboard
run = "sh finetune-llm/setup.sh"

modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8050
externalPort = 80
